[project]
	description = given the fb url of a user profile, you can report the user as fake profile
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ardyflora
[access "refs/for/refs/*"]
	read = group user/ardyflora
	push = group user/ardyflora
	label-Code-Review = -2..+2 group user/ardyflora
	label-Verified = -1..+1 group user/ardyflora
	rebase = group user/ardyflora
	removeReviewer = group user/ardyflora
	submit = group user/ardyflora
[access "refs/heads/*"]
	read = group user/ardyflora
	create = group user/ardyflora
	push = +force group user/ardyflora
	pushMerge = group user/ardyflora
[access "refs/tags/*"]
	push = group user/ardyflora
	push = +force group user/ardyflora
